
{% extends 'base.html.twig' %}

{% block stylesheets %}

    <!-- Parent template styles -->
    {{ parent() }}

    <!-- Homepage styles -->
    <link href="/css/home.css" rel="stylesheet">

{% endblock %}


{% block body %}

    <h1>ACCUEIL</h1>

    {# 
        <?php foreach ($posts as $post): ?>
             <div>
                  <h2><?=$post->title;?></h2>
             </div>
        <?php endforeach; ?>
     #}

    {% for post in posts %}
        
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <span class="badge badge-secondary">Cat: {{ post.category.name }}</span>
        
            <p>Créé par {{ post.user.firstname }} {{ post.user.lastname }} le {{ post.createdAt|date("d/m/Y") }}</p>
            {# <img src="{{ post.image }}" alt="{{ post.title }}"> #}
            {# <img src="{{ asset('upload/post/image/' ~ post.image) }}" #}
            {# <img src="{{ asset(post_image_dir ~ '/' ~ post.image) }}" #}
            {# <img src="{{ asset_post_image(post.image) }}" alt="{{ post.title }}"> #}
            {% if post.image %}
                <img src="{{ asset_post_image(post.image) }}" alt="{{ post.title }}" class="img-fluid rounded">
            {% endif %}
            <p>{{ post.content|slice(150) }}</p>
            <a href="{{ path('post.index', {'slug':post.slug}) }}">Lire la suite</a>
        </div>

        
    {% endfor %}


{% endblock %}

